doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name= "viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(type="text/javascript" src="./public/javascripts/jquery-2.1.4.js")
  body
    div(class="container-main")

      div(class="container-today" id= "todayWeather")
        p(class= "location") Portland, Or
        p(class= "todayName") Today
        div(class="container-today-inner")
          div(class="leftTodaySpace") Today
          img(class ="todayIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif" alt= "Conditions Pic")
          div(class= "todayTemp") 70
            div(class= "todayDescription") Cloudy

      div(class= "container-threeDayGroup")
        div(class= "container-threeDay" id= "dayOne")
          div(class= "container-threeDayIcon")
            img(class= "threeDayIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif" alt= "Conditions Pic" max-width= "100px" max-hieght= "100px")
          p(class= "threeDayTemp") 68
          p(class= "threeDayName") Friday

        div(class="container-threeDay" id= "dayTwo") 
          div(class= "container-threeDayIcon")
            img(class= "threeDayIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif")
          p(class= "threeDayTemp") 75
          p(class= "threeDayName") Saturday

        div(class= "container-threeDay" id= "dayThree")
          div(class= "container-threeDayIcon")
            img(class= "threeDayIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif")
          p(class= "threeDayTemp") 68
          p(class= "threeDayName") Sunday
          
      div(class= "container-zipCode") 
        p(class= "zipCodeTitle") Zip Code
        input(type= "number" name= "zip" value= "Enter Zip Code" class= "zipCodeInput")
        button(class= "zipButton") Change
  footer(class="footer") Footer Placeholder
    div() Powered by Weather Underground
