doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name= "viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery-2.1.4.js")
    script(type="text/javascript" src="/javascripts/apiCall.js")
  body
    div(class="container-main")

      div(class="container-today" id= "todayWeather")
        p(class= "location" id="locationName") Portland, Or
        p(class= "todayName") Today
        div(class="container-today-inner")
          div(class="leftTodaySpace") Today
          img(class ="todayIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif" alt= "Conditions Pic" id= "todayConditionIcon")
          div(class= "todayTemp" id= "todayTemp") 70&#176
            div(class= "todayDescription") Cloudy

      div(class= "container-forecastGroup")
        div(class= "container-forecastDay" id= "dayOne")
          div(class= "container-forecastIcon")
            img(class= "forecastIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif" alt= "Conditions Pic" id= "dayOneIcon")
          p(class= "forecastTemp" id= "dayOneTemp") 68&#176
          p(class= "forecastName" id= "dayOneName") Friday

        div(class="container-forecastDay" id= "dayTwo") 
          div(class= "container-forecastIcon")
            img(class= "forecastIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif" alt= "Conditions Pic" id= "dayTwoIcon")
          p(class= "forecastTemp" id= "dayTwoTemp") 75&#176
          p(class= "forecastName" id= "dayTwoName") Saturday

        div(class= "container-forecastDay" id= "dayThree")
          div(class= "container-forecastIcon")
            img(class= "forecastIcon" src="http://icons.wxug.com/i/c/a/partlycloudy.gif" alt= "Conditions Pic" id= "dayThreeIcon")
          p(class= "forecastTemp" id= "dayThreeTemp") 68&#176
          p(class= "forecastName" id= "dayThreeName") Sunday
          
      div(class= "container-zipCode") 
        p(class= "zipCodeTitle") Zip Code
        input(type= "number" name= "zip" value= "Enter Zip Code" class= "zipCodeInput" id= "zipInput")
        button(class= "zipButton" id="updateZipButton") Change
  footer(class="footer")
    div(class= "footerText") Powered by 
    a(href="http://www.wunderground.com")
        img(src="/images/logo.png" width= "150px")
