doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    div(id= )
    div(id= "todayWeather") The Weather Today Placeholder
    div(id= "threeDayWeatherDayOne") Three Day Weather Day One Placeholder
    div(id= "threeDayWeatherDayTwo") Three Day Weather Day Two Placeholder
    div(id= "threeDayWeatherDayThree") Three Day Weather Day Three Placeholder


