/* ================================= 
  Base Styles
==================================== */

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-main {
	width: 100%;
	margin: 0 auto auto auto;
	padding: 0px;
	background: #fff;
}

.container-today,
.container-forecastDay,
.container-zipCode {
	display: flex;
	padding: 5px;
	margin: 0px;	
	border: 1px solid black;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	width: 100%;
}

.footerText {
	padding: 10px;
}

/* ================================= 
 Today's Weather Section
==================================== */

.container-today {
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	height: auto;
}

.container-today-inner {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.location {
	width: 100%;
	margin-bottom: 5px;
}

.todayIcon {
	width: 75px;
	align-self: center;
	margin: auto;
}

.todayName {
	margin: 5px 0px 0px 0px;
	width: 100%;
	order: 1;
}

.todayTemp {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 20%;
	font-size: 2em;
}

.leftTodaySpace {
	visibility: hidden;
	margin: 10px;
	width: 20%;
	font-size: 2em;
}

.todayDescription {
	font-size: 0.5em;
}

/* ================================= 
Three Day Weather Section
==================================== */

.container-forecastGroup {
	display: flex;
	flex-direction: column;
}

.container-forecastDay {
	flex-direction: row;
}

.container-forecastIcon {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.forecastIcon {
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	align-self: center;
}

.forecastName {
	padding-left: 10px;
	text-align: left;
	width: 35%;
}

.forecastTemp {
	width: 30%;
	order: 1;
}


/* ================================= 
Zip Code Section
==================================== */


.container-zipCode {
	justify-content: center;
	align-items: center;
	border: none;
}

.zipCodeTitle {
	font-size: 0.8em;
	margin: 0;
	padding-right: 10px;
}

.zipCodeInput {
	width: 100px;
}

.zipButton {
	margin: 0 10px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 321px) {

	.container-main {
		width: 80%;
	}

	.todayName {
		visibility: hidden;
	}

	.leftTodaySpace {
		visibility: visible;
	}

	.container-forecastGroup {
		flex-direction: row;
	}

	.container-forecastDay {
		display: inline;
		width: 33.333%;
	}

	.container-forecastIcon {
		display: inline;
		flex-direction: column;
		width: auto;
		height: auto;
	}	

	.forecastIcon {
		padding-left: 5%;
	}

	.forecastName {
		padding-left: 0px;
		margin-bottom: 5px;
		text-align: center;
		width: 100%;
		order: 1;
	}

	.forecastTemp {
		width: auto;
		display: inline;
	}
}

