/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
/*	width: 100px;
	hieght: 100px;*/
}

.container-main {
/*	display: flex;
	flex-direction: column;*/
	width: 100%;
	margin: 45px auto;
	padding: 10px;
	background: #fff;
 	border-radius: 5px;
  	box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

.container-today,
.container-threeDay,
.container-zipCode {
	display: flex;
/*	flex-direction: column;*/
	color: #fff;
	padding: 15px;
	margin: 0px;	
	border: 1px solid black;
	background: #3db5da;
	border-radius: 3px;
}

.footer {
	margin-top: auto;
	width: 100%;
	border: 1px solid black;
}

/* ================================= 
 Today's Weather Section
==================================== */

.container-today {
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	height: auto;
}

.container-today-inner {
	width: 100%;
	display: flex;
	flex-direction: row;
/*	justify-content: space-between;*/
	align-items: center;
}

.location {
	width: 100%;
}

.todayIcon {
	width: 50px;
	align-self: center;
	margin: auto;
}

.todayName {
	margin: 5px 0px 0px 0px;
	width: 100%;
	order: 1;
}

.todayTemp {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 20%;
}

.leftTodaySpace {
	margin: 10px;
	width: 20%;
}

.todayDescription {

}

/* ================================= 
Three Day Weather Section
==================================== */

.threeDay {
/*	flex-direction: row;*/
	justify-content: space-around;

}

.container-threeDayIcon {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.threeDayIcon {
/*	width: 100px;*/
	max-width: 150px;
	max-height: 150px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	align-self: center;
/*	width: 35%;*/
}

.threeDayName {
	padding-left: 10px;
	text-align: left;
	width: 35%;
}

.threeDayTemp {
	width: 30%;
}


/* ================================= 
Zip Code Section
==================================== */


.zipCode {
/*	flex-direction: row;*/
	justify-content: center;
}

.zipCodeTitle {
	margin: 0;
	padding-right: 10px;
}

.zipCodeInput {
	width: 100px;
}

.zipButton {
	margin: 0 10px;
}


/* ================================= 
  Media Queries
==================================== */
/*
@media (min-width: 320px) {

	.container {
		width: 60%;
	}

	.today,
	.threeDay {
		border: 5px;
		display: flex;
	}
	.today {
		border: 5px;
		flex-direction: column;
		align-items: center;
	}
	.threeDay {
		flex-direction: row;
		flex
		align-items: center;
	}
}*/

